* {margin:0;padding:0;}

body {background:#EEE;font-family:Verdana,sans-serif;font-weight:normal;font-size:14px;}

h1,h2,h3,h4,h5,h6 {font-family:Verdana,sans-serif;font-weight:normal;}


.container {overflow:hidden;}

.container header {margin:10px;}

.audiobook {width:480px;float:left;overflow:hidden;margin:10px;background:#FFF;box-shadow:0 0 15px #BBB}
.audiobook h2, .audiobook img, .audiobook h3, .audiobook h4 {float:left;}
.audiobook h2 {width:290px;font-size:16px;margin:20px 0 0;}
.audiobook h3 {width:290px;font-size:14px;color:#AAA;margin:10px 0 0;}
.audiobook h4 {width:290px;font-size:13px;color:#AAA;margin:10px 0 0;}
.audiobook img {width:165px;height:165px;margin-right:15px;}